---
title: Audiophile-Approved Earbuds That Outshine Sony and Bose - Our Comprehensive Test Results
date: 2025-02-08T16:13:56.112Z
updated: 2025-02-15T16:39:27.818Z
tags:
  - headphones
categories:
  - tech
thumbnail: https://thmb.techidaily.com/50a0e21454dc02c593e958f3f8488f7e3d42941b95d888cc2e5f79586c9b13d4.jpg
---

## Audiophile-Approved Earbuds That Outshine Sony and Bose - Our Comprehensive Test Results

![Navy Bowers and Wilkins Pi8 earbuds](https://www.zdnet.com/a/img/resize/bc25202295e80eead7160620c83a7121b488471e/2024/08/20/de5438f7-daa5-426c-bb4a-1e093275405b/dsc02208.jpg?auto=webp&width=1280)

Nina Raemont/ZDNET

<!-- affiliate ads begin -->
<iframe width="560" height="315" src="https://www.youtube.com/embed/gyGoQi7hsZk?si=8OcKcPUj2wSBmVZ1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
<!-- affiliate ads end -->

### ZDNET's key takeaways 

* The [Bowers and Wilkins Pi8 earbuds](https://bowers.prf.hn/click/camref:1101lAqJH/pubref:zd-%5F%5FCOM%5FCLICK%5FID%5F%5F-dtp/destination:https%3A%2F%2Fwww.bowerswilkins.com%2Fen-us%2F) are available now for $400, and are designed for audiophiles who want high-quality sound in an earbud.
* The sound is crisp and immersive, the noise cancellation works well, and the earbuds stayed in my ears without any adjustments, even during sweaty runs.
* I'd like to see the battery life and connectivity be improved.  
---

Whenever a pair of earbuds cost the same as a cross-country flight, I can't help but raise my eyebrows. At $400, this is precisely what happened when I first popped in the [new Pi8 earbuds](https://bowers.prf.hn/click/camref:1101lAqJH/pubref:zd-%5F%5FCOM%5FCLICK%5FID%5F%5F-dtp/destination:https%3A%2F%2Fwww.bowerswilkins.com%2Fen-us%2F) from Bowers and Wilkins. After a few weeks of listening, however, my eyebrows have returned to normal, and I'm convinced that the Pi8 buds are worth it, with a few caveats. 

[ZDNET RECOMMENDS Bowers and Wilkins Pi8 earbuds These earbuds offer a luxury build and stellar sound that any audiophile will appreciate. View at Bowers & Wilkins](https://bowers.prf.hn/click/camref:1101lAqJH/pubref:zd-%5F%5FCOM%5FCLICK%5FID%5F%5F-dtp/destination:https%3A%2F%2Fwww.bowerswilkins.com%2Fen-us%2F%3Fsrsltid%3DAfmBOoowZRCrI5GmPgkzEifiXdRxUahISs3csqzUcKVsl%5FX-Koxw5b0w)

From their sleek build to their sturdy case, these earbuds scream luxury. The four colorways (Anthracite Black, Dove White, Jade Green, and Midnight Blue) feature gold detailing and are simultaneously retro and modern. 

These are earbuds made for jet setters and travel mavens, which is why they come with a headphone adapter for watching movies on flights without sacrificing audio quality in the process. 

**Also: [I tested JBL's newest earbuds, and their best feature is also the most understated](https://www.zdnet.com/article/i-tested-jbls-newest-earbuds-and-their-best-feature-is-also-the-most-understated/)**

In fact, listening to anything with these earbuds is a pleasure thanks to the earbuds' adaptive and lossless audio. The result is an earbud that prioritizes booming bass and delivers flourishing sound. 

The intricacies of any song, like the synthy bass and the crooning vocals of _Uncatena_ by Sylvan Esso or the flickers and beats of _Billions_ by Caroline Polachek, come through clear and crisp with these earbuds. Plus, the Pi8 offers a wide soundstage, even at mid to low volumes, making for an immersive experience.

Nina Raemont/ZDNET

While toggling between noise-canceling modes on the subway -- the ultimate noise cancellation testing ground -- I found myself surprised by its solid noise-canceling capabilities. They block out _most_ distractions, but could be a tad stronger. 

For example, even in the office, I could still hear laughs and bits of conversations through the earbuds. They don't completely cancel noise like the $300 [Bose QuietComfort Ultra earbuds](https://www.zdnet.com/article/ive-used-these-bose-earbuds-for-months-and-i-cant-recommend-them-enough/), a crown jewel pair of earbuds, but then again, many people don't want to be completely removed out of their environment. These earbuds work well as a middle ground. 

**Also: [These transparent earbuds by Nothing made my AirPods look and sound boring](https://www.zdnet.com/article/these-transparent-earbuds-by-nothing-made-my-airpods-look-and-sound-boring/)**

During my testing of these earbuds, I took them out on a sweaty run where I had strapped wrist weights to my arms, preventing me from being able to raise them to make adjustments. Thankfully, however, I didn't have to do this even once – something that I can't say for 90% of the earbuds I've tried. Their secret? They have a tactile little wing that attaches easily to your ear, securing the bud in place. This design choice alone left me thoroughly impressed. 

#### Newsletters

ZDNET Recommends

ZDNET saves you time and money by delivering the best products and tech deals to your inbox every week.

 Subscribe

[See all](https://www.zdnet.com/newsletters/)

The touch controls on the buds are not finicky whatsoever. They respond quickly to your commands and make a pleasing _click_ once an action has been activated. While we're on the topic of small-but-thoughtful details that sweeten the deal on a pair of rather expensive earbuds, I'll also mention that they also have multipoint Bluetooth capability, allowing for dual-device connection. 

Battery life is one area where I felt the Pi8 slightly faltered, however. The earbuds offer 20 hours of battery life, with 6.5 hours of battery from the earbuds and an extra 13.5 in the case. I used the earbuds with noise cancellation on as I worked, commuted, and exercised, and found myself needing to regularly charge them.

**Also:** [**The best noise-canceling earbuds**](https://www.zdnet.com/article/best-noise-canceling-earbuds/)

Another area where I had trouble was with connectivity. One earbud, regardless of whether it was fully charged or nearly empty, would regularly dip in and out of connection. Sometimes it would happen momentarily, and other times I'd have to put both buds back in the case to reset the connection. Plus, getting the app needs some optimization, as it regularly disconnected from the buds and crashed. 

Bowers and Wilkins changed the microphone position on these headphones for improved phone call performance, but I used them on a call with my manager, and she pointed out that my voice sounded muffled through the earbuds. 

<!-- affiliate ads begin -->
<iframe width="560" height="315" src="https://www.youtube.com/embed/uSfA74aeYeA?si=HdJSMdeS7HVtS6-j" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
<!-- affiliate ads end -->

## ZDNET's buying advice 

Are the [Bowers & Wilkins Pi8 earbuds](https://bowers.prf.hn/click/camref:1101lAqJH/pubref:zd-%5F%5FCOM%5FCLICK%5FID%5F%5F-dtp/destination:https%3A%2F%2Fwww.bowerswilkins.com%2Fen-us%2F) worth $400? It's a tough call, but I'd say to keep an eye out for when they go on sale. These earbuds certainly offer delicious sound and a comfortable, luxurious build that makes them great for audiophiles. But the battery life and connectivity might pose some problems for some users. 

The bottom line is that it's tough to find earbuds with sound quality at this level, and in that respect, these deliver. For that, I'd recommend these to audiophiles any day of the week. If you're looking for a pair of earbuds with better noise cancellation at a more approachable price, I'd suggest the [JBL Tour Pro 2](https://www.kqzyfj.com/click-9041660-15735015?url=https%3A%2F%2Fwww.jbl.com%2Fwireless-earbuds%2FTOUR-PRO-2.html&sid=zd-%5F%5FCOM%5FCLICK%5FID%5F%5F-dtp). 

#### Featured reviews

[Google Pixel 9 Pro XL vs. Samsung Galaxy S24 Ultra: I tested both and here are the key differences](https://www.zdnet.com/article/google-pixel-9-pro-xl-vs-samsung-galaxy-s24-ultra/ "Google Pixel 9 Pro XL vs. Samsung Galaxy S24 Ultra: I tested both and here are the key differences")

[These are the AirTags that Android users have been waiting for](https://www.zdnet.com/article/these-are-the-airtags-that-android-users-have-been-waiting-for/ "These are the AirTags that Android users have been waiting for")

[This lightweight Linux distro is the best way to revive your old computer. Here's how](https://www.zdnet.com/article/this-lightweight-linux-distro-is-the-best-way-to-revive-your-old-computer-heres-how/ "This lightweight Linux distro is the best way to revive your old computer. Here's how")

[The 2-in-1 laptop I recommend for the office is not a Lenovo or HP](https://www.zdnet.com/article/one-of-the-most-versatile-2-in-1-laptops-ive-tested-is-not-a-lenovo-or-hp/ "The 2-in-1 laptop I recommend for the office is not a Lenovo or HP")

* [Google Pixel 9 Pro XL vs. Samsung Galaxy S24 Ultra: I tested both and here are the key differences](https://www.zdnet.com/article/google-pixel-9-pro-xl-vs-samsung-galaxy-s24-ultra/ "Google Pixel 9 Pro XL vs. Samsung Galaxy S24 Ultra: I tested both and here are the key differences")
* [These are the AirTags that Android users have been waiting for](https://www.zdnet.com/article/these-are-the-airtags-that-android-users-have-been-waiting-for/ "These are the AirTags that Android users have been waiting for")
* [This lightweight Linux distro is the best way to revive your old computer. Here's how](https://www.zdnet.com/article/this-lightweight-linux-distro-is-the-best-way-to-revive-your-old-computer-heres-how/ "This lightweight Linux distro is the best way to revive your old computer. Here's how")
* [The 2-in-1 laptop I recommend for the office is not a Lenovo or HP](https://www.zdnet.com/article/one-of-the-most-versatile-2-in-1-laptops-ive-tested-is-not-a-lenovo-or-hp/ "The 2-in-1 laptop I recommend for the office is not a Lenovo or HP")

<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="autorelaxed"
     data-ad-client="ca-pub-7571918770474297"
     data-ad-slot="1223367746"></ins>

<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-7571918770474297"
     data-ad-slot="8358498916"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>

<span class="atpl-alsoreadstyle">Also read:</span>
<div><ul>
<li><a href="https://some-approaches.techidaily.com/1-ultimate-buyers-guide-macx-dvd-ripper-pro-for-windows-a-comprehensive-review/"><u>1. Ultimate Buyer's Guide: MacX DVD Ripper Pro for Windows - A Comprehensive Review</u></a></li>
<li><a href="https://android-location.techidaily.com/10-fake-gps-location-apps-on-android-of-your-vivo-y77t-drfone-by-drfone-virtual/"><u>10 Fake GPS Location Apps on Android Of your Vivo Y77t | Dr.fone</u></a></li>
<li><a href="https://twitter-videos.techidaily.com/2024-approved-screen-captures-galore-expert-techniques-for-twitter-visuals/"><u>2024 Approved Screen Captures Galore Expert Techniques for Twitter Visuals</u></a></li>
<li><a href="https://fox-access.techidaily.com/2024-approved-the-esl-english-as-second-language-for-vr/"><u>2024 Approved The ESL (English as Second Language) for VR</u></a></li>
<li><a href="https://hardware-reviews.techidaily.com/beat-the-competition-with-an-rtx-4060-enabled-msi-bravo-laptop-priced-below-1000/"><u>Beat the Competition with an RTX 4060-Enabled MSI Bravo Laptop - Priced Below $1,000</u></a></li>
<li><a href="https://hardware-reviews.techidaily.com/benzalkonium-chloride-commonly-found-in-hand-sanitizers-its-a-quaternary-ammonium-compound-effective-against-bacteria-and-some-viruses-however-its-effective34/"><u>Benzalkonium Chloride - Commonly Found in Hand Sanitizers, It's a Quaternary Ammonium Compound Effective Against Bacteria and some Viruses. However, Its Effectiveness Can Be Reduced by Organic Matter Like Blood or Dirt</u></a></li>
<li><a href="https://driver-error.techidaily.com/how-to-restore-your-hp-bluetooth-keyboard-functionality-step-by-step-solution/"><u>How to Restore Your HP Bluetooth Keyboard Functionality - Step-by-Step Solution</u></a></li>
<li><a href="https://change-location.techidaily.com/in-2024-why-does-the-pokemon-go-battle-league-not-available-on-vivo-y17s-drfone-by-drfone-virtual-android/"><u>In 2024, Why does the pokemon go battle league not available On Vivo Y17s | Dr.fone</u></a></li>
<li><a href="https://win11.techidaily.com/maintaining-your-data-regularly-back-up-windows-files/"><u>Maintaining Your Data: Regularly Back Up Windows Files</u></a></li>
<li><a href="https://solve-latest.techidaily.com/step-by-step-guide-transforming-camrec-files-into-popular-video-formats/"><u>Step-by-Step Guide: Transforming CAMREC Files Into Popular Video Formats</u></a></li>
<li><a href="https://fox-friendly.techidaily.com/stepwise-guide-to-designing-efficient-podcast-rss-feeds/"><u>Stepwise Guide to Designing Efficient Podcast RSS Feeds</u></a></li>
<li><a href="https://hardware-reviews.techidaily.com/toms-tech-reviews-in-depth-hardware-evaluations/"><u>Tom's Tech Reviews: In-Depth Hardware Evaluations</u></a></li>
<li><a href="https://hardware-reviews.techidaily.com/top-rated-gaming-pcs-below-1k-a-buyers-guide/"><u>Top-Rated Gaming PCs Below $1K: A Buyer's Guide</u></a></li>
<li><a href="https://hardware-reviews.techidaily.com/unleashing-the-power-of-pc-components-through-toms-hardware-knowledge/"><u>Unleashing the Power of PC Components Through Tom's Hardware Knowledge</u></a></li>
<li><a href="https://hardware-reviews.techidaily.com/unlocking-the-secrets-of-computing-with-toms-hardware-expertise/"><u>Unlocking the Secrets of Computing with Tom's Hardware Expertise</u></a></li>
<li><a href="https://hardware-reviews.techidaily.com/unveiling-innovations-in-electronics-at-toms-hardware-hub/"><u>Unveiling Innovations in Electronics at Tom's Hardware Hub</u></a></li>
<li><a href="https://hardware-reviews.techidaily.com/windows-laptop-revolution-looms-with-mediatek-preparing-arm-processors-as-qualcomms-exclusive-access-ends/"><u>Windows Laptop Revolution Looms with MediaTek Preparing ARM Processors as Qualcomm's Exclusive Access Ends</u></a></li>
</ul></div>

